.home {
  height: 100%;
  width: 100%;
  background: #1100ff13;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
}


/* @media (height > 690px) {
  .home {
    flex-direction: row;
    background: #04ff0013;
  }
} */