.container {
    display: contents;
    margin: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: .5rem;
    background: #ffffffd3;
}

.container form>div {
    padding: 10px;
}

.container label {
    color: #000;
    display: block;
    margin-bottom: 5px;
}

.container input,
.container textarea {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #000;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.container textarea {
    min-height: 100px;
    max-height: 261px;
    max-width: 418px;
    line-height: 1.5;
}

.container button {
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}