.project {
  height: 100%;
  width: 100%;
  background: #5194e069;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & span {
    font-family: monospace;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.415);
  
  }

}
