@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap');


.about {
  border-radius: .5rem;
  height: 100%;
  width: 100%;
  background: #0000005b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
}

.content {
  border-radius: .5rem;
  padding: 5px;
  background: #e1e1e1;
  width: 90%;
  justify-content: top;
  Overflow: overlay;
  margin: 1.2rem 0;
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.778);
}

.content h1,
p {
  color: #000;
  font-family: "Inter", sans-serif, Arial, Helvetica, sans-serif !important;
  text-shadow: 1px 1px 1px #0000004e;
}

.content h1 {
  text-align: center;
  margin: 1rem 0;
}

.content p {
  margin-bottom: .5rem;
  text-indent: 1rem;
  text-align: justify;
  text-indent: 1rem;
}



.content::-webkit-scrollbar {
  background-color: transparent;
}

button {
  background: #0e1129;
  color: #fff;
}